<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <% if (articles.length > 0) { %>
        <div class="grid">
            <% for (let article of articles) { %>
            <article class="card post-item">
                <header class="card__header">
                    <h1 class="post__title"><%= article.titre %></h1>
                </header>

                <div class="card__content">
                </div>
                <div class="card__actions">
                    <a href="article/<%= article.id %>" class="btn">Voir</a>
                
                    <a href="articles/<%= article.id %>/edit" class="btn">Editer</a>
               
                    <a href="articles/<%= article.id %>/delete" class="btn">Supprimer</a>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h3>Pas d'article !</h3>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>