<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <% if (posts.length > 0) { %>
        <div class="grid">
            <% for (let post of posts) { %>
            <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= post.title %></h1>
                </header>

                <div class="card__content">

                </div>
                <div class="card__actions">
                    <button class="btn">Voir</button>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h3>Pas d'article !</h3>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>