<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/post.css">
</head>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <% if (posts.length > 0) { %>
        <div class="grid">
            <% for (let post of posts) { %>
            <article class="card post-item">
                <header class="card__header">
                    <h1 class="post__title"><%= post.title %></h1>
                </header>

                <div class="card__content">
                </div>
                <div class="card__actions">
                    <a href="post/<%= post.id %>" class="btn">Voir</a>
                </div>
            </article>
            <% } %>
        </div>
        <% } else { %>
        <h3>Pas d'article !</h3>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>