<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a href="/">Accueil</a></li>
            <li class="main-header__item"><a href="/article/new">Ajout d'article</a></li>
        </ul>
    </nav>
</header>