<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <form action="/add-article" method="POST">
            <div class="form-control">
                <label for="title">Titre</label>
                <input type="text" name="title">
                <label for="content">Article</label>
                <textarea name="content" id="" cols="30" rows="10"></textarea>
                <select name="category" id="" multiple>
                    <% for (let category of categories) { %>
                    <option value="<%= category._id %>"><%= category.name %></option>
                    <% } %>
                </select>
                <button type="submit">Ajouter</button>
            </div>
        </form>
    </main>

    <%- include('includes/end.ejs') %>