<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <form action="/add-category" method="POST">
            <div class="form-control">
            <label for="name">Titre</label>
            <input type="text" name="name">
            <button type="submit">Ajouter</button>
            </div>
        </form>
    </main>

<%- include('includes/end.ejs') %>
