<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <h1>Mon blogue</h1>
        <article class="card ">
            <header class="card__header">
                <h2 class="post__title"><%= article.title %></h2>
                <p class="post__title"><%= article.id %></p>
                <p><%= article.content %></p>
                <!-- categories -->
                <h3>Catégorie : </h3>
                <% for (let category of article.categoryId) { %>
                    <p><%= category.name %></p>
                <% } %>

            </header>
        </article>
    </main>
<%- include('includes/end.ejs') %>