<%- include('includes/head.ejs') %>

<body>
    <header>
        <%- include('includes/navigation.ejs') %>
    </header>

    <main>
        <form action="/edit-article" method="POST">
            <div class="form-control">
                <label for="title">Titre</label>
                <input type="text" name="title" value=<%= article.title %>>
            </div>
            <div class="form-control">
                <label for="content">Article</label>
                <textarea name="content" id="" cols="30" rows="10"><%= article.content %></textarea>
            </div>

            <input type="hidden" value="<%= article._id %>" name="articleId">
            <button type="submit">Ajouter</button>
        </form>
    </main>

<%- include('includes/end.ejs') %>
